:root {
  --primary-color: rgba(13, 110, 139, 0.9);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(34, 55, 71, 0.87);
  --menu-speed: 0.75s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

#showcase:before {
  content: '';
  background: no-repeat center center/cover url(/img/showcase.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
#showcase h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}
#showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 5px;
}

/* .btn:hover {
  background-color: rgba(155, 110, 28, 0.9);
} */
.showcase-container h1 {
  transform: translateY(-2000px);
  animation: title 1s forwards ease-in;
}

.showcase-container p {
  transform: translateX(-2000px);
  animation: paragraph 1s forwards ease-in;
}

.showcase-container .btn {
  transform: translateX(2000px);
  animation: btn 1s forwards ease-in;
}

@keyframes title {
  to {
    transform: translateY(0);
  }
}

@keyframes paragraph {
  to {
    transform: translateX(0);
  }
}
@keyframes btn {
  to {
    transform: translateX(0);
  }
}
